<layout name="layout"/>
<!--<div class="form-div">
    <form action="__ACTION__" name="searchForm" method="GET">
        &lt;!&ndash;搜索模块&ndash;&gt;
        &lt;!&ndash; 商品名称查询 &ndash;&gt;
        <p>
            名称：<input type="text" name="gn" size="20"  value="<?php echo I('get.gn') ?>"/>
        </p>
        <p>
            <input type="submit" value=" 搜索 " class="button" />
        </p>
    </form>
</div>-->
<!-- 商品列表 -->
<form method="post" action="" name="listForm" onsubmit="">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th>id</th>
                <th>会员名称</th>
                <th>积分下限</th>
                <th>积分上限</th>
                <th>操作</th>
            </tr>
                <?php foreach($data as $k=>$v) :?>
            <tr>
                <td align="center"><?php echo $v['id']; ?></td>
                <td align="center"><?php echo $v['level_name']; ?></td>
                <td align="center"><?php echo $v['jifen_bottom']; ?></td>
                <td align="center"><?php echo $v['jifen_top']; ?></td>
                <td align="center">
                    <a href="<?php echo U('MemberLevel/edit?id='.$v['id']); ?>">修改</a>
                    <a onclick=" return confirm('确定要删除吗？')" href="<?php echo U('MemberLevel/delete?id='.$v['id']); ?>">删除</a>
                </td>
            </tr>
            <?php endforeach ; ?>
        </table>

    <!-- 分页开始 -->
        <table id="page-table" cellspacing="0">
            <tr>
                <td width="80%">&nbsp;</td>
                <td align="center" nowrap="true">
                    <?php echo $PageString; ?>
                </td>
            </tr>
        </table>
    <!-- 分页结束 -->
    </div>
</form>
